extends layout.pug

block content

  article.portfolio-intro

    
    h1 Welcome

    
    p I'm thrilled to have you here. This is my portfolio, showcasing projects completed throughout the Treehouse Front-End Techdegree curriculum. Enjoy exploring! 


  article.portfolio-project-thumbs
    .projects-box.box.grid

       
      each project in projects

        .cell
          a(href= `/projects/${project.id}`)
            img.thumbnail(src=`static${project.image_urls[0]}`, alt=`${project.project_name} Thumbnail`)
            h5= project.project_name

